<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
    <!-- <h4><a href="/campgrounds">All camps</a></h4>
    <h4><a href="/campgrounds/new">Create New Camp</a></h4>
    <i>Copy right </i> -->
</footer>